<template>
  <div>
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
      <div class="container">
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item"><a href="#">News</a></li>
          <li class="breadcrumb-item active">News details</li>
        </ul>
      </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Single News Start-->
    <div class="single-news">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="sn-container">
              <div class="sn-img">
                <img src="img/news-825x525.jpg" />
              </div>
              <div class="sn-content">
                <h1 class="sn-title">Lorem ipsum dolor sit amet</h1>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer molestie, lorem eu eleifend bibendum, augue purus mollis sapien, non rhoncus eros leo in nunc. Donec a nulla vel turpis consectetur tempor ac vel justo. In hac habitasse platea dictumst. Cras nec sollicitudin eros. Nunc eu enim non turpis sagittis rhoncus consectetur id augue. Mauris dignissim neque felis. Phasellus mollis mi a pharetra cursus. Maecenas vulputate augue placerat lacus mattis, nec ornare risus sollicitudin.
                </p>
                <p>
                  Mauris eu pulvinar tellus, eu luctus nisl. Pellentesque suscipit mi eu varius pulvinar. Aenean vulputate, massa eget elementum finibus, ipsum arcu commodo est, ut mattis eros orci ac risus. Suspendisse ornare, massa in feugiat facilisis, eros nisl auctor lacus, laoreet tempus elit dolor eu lorem. Nunc a arcu suscipit, suscipit quam quis, semper augue.
                </p>
                <p>
                  Quisque arcu nulla, convallis nec orci vel, suscipit elementum odio. Curabitur volutpat velit non diam tincidunt sodales. Nullam sapien libero, bibendum nec viverra in, iaculis ut eros.
                </p>
                <h3>Lorem ipsum dolor sit amet</h3>
                <p>
                  Vestibulum sit amet ullamcorper sem. Integer hendrerit elit eget purus sodales maximus. Quisque ac nulla arcu. Morbi venenatis arcu ac arcu cursus pharetra. Morbi sit amet viverra augue, ac ultricies libero. Praesent elementum lectus mi, eu elementum urna venenatis sed. Donec auctor purus ut mattis feugiat. Integer mi erat, consectetur sed tincidunt vitae, sagittis elementum libero. Vivamus a mauris consequat, hendrerit lectus in, fermentum libero. Integer mattis bibendum neque et porttitor.
                </p>
                <p>
                  Mauris quis arcu finibus, posuere dolor eu, viverra felis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In porta, ex vitae accumsan facilisis, nisi tellus dictum metus, quis fringilla dui tellus in tellus. Praesent pharetra orci at vehicula posuere. Sed molestie fringilla lorem, vel imperdiet tortor blandit at. Quisque non ultrices lorem, eget rhoncus orci. Fusce porttitor placerat diam et mattis. Nam laoreet, ex eu posuere sollicitudin, sem tortor pellentesque ipsum, quis mattis purus lectus ut lacus. Integer eu risus ac est interdum scelerisque.
                </p>
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                  Praesent ultricies, mauris eget vestibulum viverra, neque lorem malesuada mauris, eget rhoncus lectus enim a lorem. Vivamus at vehicula risus, eget facilisis massa. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras et posuere sapien. Fusce bibendum lorem sem, quis tincidunt felis mattis nec.
                </p>
                <p>
                  Proin vel nulla purus. Nunc nec eros in nisi efficitur rutrum quis sed eros. Mauris felis dolor, rhoncus eget gravida vitae, pretium vel arcu. Cras blandit tellus eget tellus dictum venenatis. Sed ultricies bibendum dictum. Etiam facilisis erat id turpis tincidunt malesuada. Duis bibendum sapien eu condimentum sagittis. Proin nunc lorem, ullamcorper vel tortor sodales, imperdiet lacinia dui. Sed congue, felis id rhoncus varius, urna lacus imperdiet nunc, ut porttitor mauris mi quis mi. Integer rutrum est finibus metus eleifend scelerisque. Morbi auctor dignissim purus in interdum. Vestibulum eu dictum enim. Suspendisse et sem vitae velit feugiat facilisis.
                </p>
                <p>
                  Nam sodales scelerisque nunc sed convallis. Vestibulum facilisis porta erat, sit amet pharetra tortor blandit id. Nunc velit tellus, consectetur sed convallis in, tincidunt finibus nulla. Integer vel ex in mauris tincidunt tincidunt nec sed elit. Etiam pretium lectus lectus, sed aliquet erat tristique euismod. Praesent faucibus nisl augue, ac tempus libero pellentesque malesuada. Vivamus iaculis imperdiet laoreet. Aliquam vel felis felis. Proin sed sapien erat. Etiam a quam et metus tempor rutrum. Curabitur in faucibus justo. Etiam imperdiet iaculis urna.
                </p>
              </div>
            </div>
            <div class="sn-related">
              <h2>Related News</h2>
              <div class="row sn-slider">
                <div class="col-md-4">
                  <div class="sn-img">
                    <img src="img/news-350x223-1.jpg" />
                    <div class="sn-title">
                      <a href="">Interdum et fames ac ante</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="sn-img">
                    <img src="img/news-350x223-2.jpg" />
                    <div class="sn-title">
                      <a href="">Interdum et fames ac ante</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="sn-img">
                    <img src="img/news-350x223-3.jpg" />
                    <div class="sn-title">
                      <a href="">Interdum et fames ac ante</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="sn-img">
                    <img src="img/news-350x223-4.jpg" />
                    <div class="sn-title">
                      <a href="">Interdum et fames ac ante</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="sidebar">
              <div class="sidebar-widget">
                <h2 class="sw-title">In This Category</h2>
                <div class="news-list">
                  <div class="nl-item">
                    <div class="nl-img">
                      <img src="img/news-350x223-1.jpg" />
                    </div>
                    <div class="nl-title">
                      <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                    </div>
                  </div>
                  <div class="nl-item">
                    <div class="nl-img">
                      <img src="img/news-350x223-2.jpg" />
                    </div>
                    <div class="nl-title">
                      <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                    </div>
                  </div>
                  <div class="nl-item">
                    <div class="nl-img">
                      <img src="img/news-350x223-3.jpg" />
                    </div>
                    <div class="nl-title">
                      <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                    </div>
                  </div>
                  <div class="nl-item">
                    <div class="nl-img">
                      <img src="img/news-350x223-4.jpg" />
                    </div>
                    <div class="nl-title">
                      <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                    </div>
                  </div>
                  <div class="nl-item">
                    <div class="nl-img">
                      <img src="img/news-350x223-5.jpg" />
                    </div>
                    <div class="nl-title">
                      <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sidebar-widget">
                <div class="image">
                  <a href="https://htmlcodex.com"><img src="img/ads-2.jpg" alt="Image"></a>
                </div>
              </div>

              <div class="sidebar-widget">
                <div class="tab-news">
                  <ul class="nav nav-pills nav-justified">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="pill" href="#featured">Featured</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#popular">Popular</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="pill" href="#latest">Latest</a>
                    </li>
                  </ul>

                  <div class="tab-content">
                    <div id="featured" class="container tab-pane active">
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-1.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-2.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-3.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-4.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-5.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                    </div>
                    <div id="popular" class="container tab-pane fade">
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-4.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-3.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-2.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-1.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-2.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                    </div>
                    <div id="latest" class="container tab-pane fade">
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-3.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-4.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-5.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-4.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                      <div class="tn-news">
                        <div class="tn-img">
                          <img src="img/news-350x223-3.jpg" />
                        </div>
                        <div class="tn-title">
                          <a href="">Lorem ipsum dolor sit amet consec adipis elit</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="sidebar-widget">
                <div class="image">
                  <a href="https://htmlcodex.com"><img src="img/ads-2.jpg" alt="Image"></a>
                </div>
              </div>

              <div class="sidebar-widget">
                <h2 class="sw-title">News Category</h2>
                <div class="category">
                  <ul>
                    <li><a href="">National</a><span>(98)</span></li>
                    <li><a href="">International</a><span>(87)</span></li>
                    <li><a href="">Economics</a><span>(76)</span></li>
                    <li><a href="">Politics</a><span>(65)</span></li>
                    <li><a href="">Lifestyle</a><span>(54)</span></li>
                    <li><a href="">Technology</a><span>(43)</span></li>
                    <li><a href="">Trades</a><span>(32)</span></li>
                  </ul>
                </div>
              </div>

              <div class="sidebar-widget">
                <div class="image">
                  <a href="https://htmlcodex.com"><img src="img/ads-2.jpg" alt="Image"></a>
                </div>
              </div>

              <div class="sidebar-widget">
                <h2 class="sw-title">Tags Cloud</h2>
                <div class="tags">
                  <a href="">National</a>
                  <a href="">International</a>
                  <a href="">Economics</a>
                  <a href="">Politics</a>
                  <a href="">Lifestyle</a>
                  <a href="">Technology</a>
                  <a href="">Trades</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Single News End-->
  </div>
</template>

<script>
export default {
  name: "_slug",
  async mounted() {
    // Related News Slider
    $('.sn-slider').slick({
      autoplay: false,
      infinite: true,
      dots: false,
      slidesToShow: 3,
      slidesToScroll: 1,
      responsive: [
        {
          breakpoint: 1200,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 992,
          settings: {
            slidesToShow: 3
          }
        },
        {
          breakpoint: 768,
          settings: {
            slidesToShow: 2
          }
        },
        {
          breakpoint: 576,
          settings: {
            slidesToShow: 1
          }
        }
      ]
    });
  }
}
</script>

<style scoped>

</style>
