<template>
  <div>
    <!-- Nav Bar Start -->
    <div class="nav-bar">
      <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="#" class="navbar-brand">MENU</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
              <NuxtLink to="/" class="nav-item nav-link active">Home</NuxtLink>
              <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Dropdown</a>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">Sub Item 1</a>
                  <a href="#" class="dropdown-item">Sub Item 2</a>
                </div>
              </div>
              <a href="single-page.html" class="nav-item nav-link">Single Page</a>
              <a href="contact.html" class="nav-item nav-link">Contact Us</a>
            </div>
            <div class="social ml-auto">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </nav>
      </div>
    </div>
    <!-- Nav Bar End -->

  </div>
</template>

<script>
export default {
  name: "HeaderMenu"
}
</script>

<style scoped>

</style>
